@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');   
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #2D2727;
    --cor-secundaria:#8F43EE;
    --cor-terciaria:#413543;
    --cor-hover:#F0EB8D;

    --fonte-primaria:'Roboto', sans-serif;
    --fonte-secundaria:'Krona One', sans-serif;
    --fonte-terciaria:'Montserrat', sans-serif;

}

body{
    background-color: var(--cor-primaria);
    /* height: 100vh; */
    box-sizing: border-box;

}


.botoes-cabecalho{
    
    display: flex;
    /* flex-direction: row;
    justify-content: flex-start; */
    /* padding-top: 14px; */
    padding:2% 0% 0% 10%;
    gap:60px;
}

.cabecalho-botao{
    display:flex;
    color:var(--cor-secundaria);
    text-decoration: none;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
  }

.principal{
    margin: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
    

}
.principal-conteudo{
    width: 50%;
    display:flex;
    flex-direction: column;
    gap: 40px;
}

.titulo{
    color: var(--cor-secundaria);
    text-align: center;
    padding-bottom: 40px;
    font-size: 2.5rem;
    font-family:  var(--fonte-secundaria);
    text-align:left;
}
.cor-titulo{
    color: var(--cor-terciaria);
}

.paragrafo{
    color:var(--cor-secundaria); 
    font-size: 1.5rem;
    font-family: var(--fonte-terciaria);
    text-align:left;
}

.subtitulo{
    font-family:var(--fonte-secundaria);
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.botoes{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    gap:30px;
    flex-direction: column;
    align-items: center;

    
}

.botao-instagit{
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    gap:16px;
    width: 60%;
    text-align: center;
    font-size:  1.5rem;
    color: var(--cor-secundaria);
    padding-top: 22px;
    padding-bottom: 22px;
    border-radius: 8px;
    font-family:var(--fonte-primaria);
    text-decoration: none;
    border: 2px solid var(--cor-terciaria);
}
.botao-instagit:hover{
    background-color:var(--cor-hover);
}

.imagem{
    width: 50%;
}

.rodape{
    display: flex;
    background-color:var(--cor-terciaria);
    justify-content: center;
  }
  .titulo-rodape{
    display: flex;
    font-family: var(--fonte-terciaria);
    font-size: 1.5rem;
    padding: 20px;
  }
  .titulo-rodape:hover{
    font-size:2.0rem ;
  }

  @media (max-width: 1200px) {
    .botoes-cabecalho{
        padding: 12% 0 0 0;
        justify-content: center;
    }
    
    .principal{
        flex-direction: column-reverse;
        margin: 5%;
    }
    .principal-conteudo{
        width: auto;
    }

    
  }